# Ignore bazel-related directories.
bazel-*

# Ignore go vendor directories.
vendor

# Intellij files
.idea/*
*.iml

# Ignore generated protobuf
*.pb.go

# Ignore key files for e2e test
docker/istio_ca.crt
docker/istio_ca.key
docker/node_agent.crt
docker/node_agent.key
